@{
    ViewBag.Title = "List of Products By Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")

    <script type="text/javascript">
        $(function () {
            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/SuppliersApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Supplier ID','Company Name','Contact Name','Contact Title','Address','City','Region1','Postal Code','Country','Phone','Fax','Home Page'],
                colModel: [
                    { name: 'SupplierID', index: 'SupplierID', align: 'right' },
                    { name: 'CompanyName', index: 'CompanyName', align: 'left' },
                    { name: 'ContactName', index: 'ContactName', align: 'left' },
                    { name: 'ContactTitle', index: 'ContactTitle', align: 'left' },
                    { name: 'Address', index: 'Address', align: 'left' },
                    { name: 'City', index: 'City', align: 'left' },
                    { name: 'Region1', index: 'Region1', align: 'left' },
                    { name: 'PostalCode', index: 'PostalCode', align: 'left' },
                    { name: 'Country', index: 'Country', align: 'left' },
                    { name: 'Phone', index: 'Phone', align: 'left' },
                    { name: 'Fax', index: 'Fax', align: 'left' },
                    { name: 'HomePage', index: 'HomePage', align: 'left' },
                ],
                pager: $('#list-pager'),
                rowNum: 5,
                rowList: [5, 10, 20, 50],
                sortname: 'SupplierID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Products By Suppliers',
                height: '100%',
                width: '1200',
                multiselect: false,
                onSelectRow: function (ids) {
                    if (ids != null) {
                        jQuery("#list-grid-detail").jqGrid('setGridParam', { url: "http://localhost:27229/api/ProductsApi/SelectProductsCollectionBySupplierID/?id="  + ids, page: 1 });
                        jQuery("#list-grid-detail").jqGrid('setCaption', "List of Products By Supplier ID: " + ids)
                        .trigger('reloadGrid');
                    }
                }
            });
        });

        $(function () {
            $('#list-grid-detail').jqGrid({
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Product ID','Product Name','Supplier ID','Category ID','Quantity Per Unit','Unit Price','Units In Stock','Units On Order','Reorder Level','Discontinued'],
                colModel: [
                    { name: 'ProductID', index: 'ProductID', align: 'right' },
                    { name: 'ProductName', index: 'ProductName', align: 'left' },
                    { name: 'SupplierID', index: 'SupplierID', align: 'right' },
                    { name: 'CategoryID', index: 'CategoryID', align: 'right' },
                    { name: 'QuantityPerUnit', index: 'QuantityPerUnit', align: 'left' },
                    { name: 'UnitPrice', index: 'UnitPrice', align: 'right', formatter: 'currency', formatoptions: { decimalPlaces: 2, prefix: "$"} },
                    { name: 'UnitsInStock', index: 'UnitsInStock', align: 'right', formatter: 'integer' },
                    { name: 'UnitsOnOrder', index: 'UnitsOnOrder', align: 'right', formatter: 'integer' },
                    { name: 'ReorderLevel', index: 'ReorderLevel', align: 'right', formatter: 'integer' },
                    { name: 'Discontinued', index: 'Discontinued', align: 'center', formatter: 'checkbox' },
                ],
                pager: $('#list-pager-detail'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'ProductID',
                sortorder: "asc",
                viewrecords: true,
                height: '100%',
                width: '1200'
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
<br /><br />
<table id="list-grid-detail"></table>
<div id="list-pager-detail"></div>
