@{
    ViewBag.Title = "List of Order Details By Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")

    <script type="text/javascript">
        $(function () {
            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/OrderDetailsApi/SelectSkipTakeTotalsGroupedByProductID/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Order ID','Product ID','Unit Price','Quantity','Discount', ''],
                colModel: [
                    { name: 'OrderID', index: 'OrderID', align: 'right' },
                    { name: 'ProductID', index: 'ProductID', align: 'right' },
                    { name: 'UnitPrice', index: 'UnitPrice', align: 'right', formatter: 'currency', formatoptions: { decimalPlaces: 2, prefix: "$"}, summaryType: 'sum', summaryTpl: '<b>Total: {0}</b>' },
                    { name: 'Quantity', index: 'Quantity', align: 'right', formatter: 'integer' },
                    { name: 'Discount', index: 'Discount', align: 'left', formatter: 'currency', formatoptions: { decimalPlaces: 2 } },
                    { name: 'ProductName', index: 'ProductName' }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'OrderID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Order Details By Products',
                height: '100%',
                width: '1200',
                grouping: true,
                groupingView: {
                    groupField: ['ProductName'],
                    groupColumnShow: [false],
                    groupText: ['<b>{0} ({1} items)</b>'],
                    groupDataSorted: true,
                    groupSummary : [true]
                }
            });
        });
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
