@{
    ViewBag.Title = "List of Orders By Shippers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AdditionalCss {
    @Styles.Render("~/Content/Styles/ui.jqgrid.min.css")
}

@section AdditionalJavaScript {
    @Scripts.Render("~/bundles/jqgrid")

    <script type="text/javascript">
        $(function () {
            $('#list-grid').jqGrid({
                url: 'http://localhost:27229/api/ShippersApi/SelectSkipTake/',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Shipper ID','Company Name','Phone'],
                colModel: [
                    { name: 'ShipperID', index: 'ShipperID', align: 'right' },
                    { name: 'CompanyName', index: 'CompanyName', align: 'left' },
                    { name: 'Phone', index: 'Phone', align: 'left' },
                ],
                pager: $('#list-pager'),
                rowNum: 5,
                rowList: [5, 10, 20, 50],
                sortname: 'ShipperID',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Orders By Shippers',
                height: '100%',
                width: '1200',
                multiselect: false,
                subGrid: true,
                subGridRowExpanded: SubGridDetail
            });
        });

        function SubGridDetail(subgrid_id, row_id) {
            var subgrid_table_id, pager_id;
            subgrid_table_id = subgrid_id + '_t';
            pager_id = 'p_' + subgrid_table_id;

            $('#' + subgrid_id).html("<div style='padding: 20px;'><table id='" + subgrid_table_id + "'></table><div id='" + pager_id + "'></div></div>");

            $('#' + subgrid_table_id).jqGrid({
                url: "http://localhost:27229/api/OrdersApi/SelectOrdersCollectionByShipVia/?id=" + row_id,
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Order ID','Customer ID','Employee ID','Order Date','Required Date','Shipped Date','Ship Via','Freight','Ship Name','Ship Address','Ship City','Ship Region','Ship Postal Code','Ship Country'],
                colModel: [
                    { name: 'OrderID', index: 'OrderID', align: 'right' },
                    { name: 'CustomerID', index: 'CustomerID', align: 'left' },
                    { name: 'EmployeeID', index: 'EmployeeID', align: 'right' },
                    { name: 'OrderDate', index: 'OrderDate', align: 'left', sorttype: "date" },
                    { name: 'RequiredDate', index: 'RequiredDate', align: 'left', sorttype: "date" },
                    { name: 'ShippedDate', index: 'ShippedDate', align: 'left', sorttype: "date" },
                    { name: 'ShipVia', index: 'ShipVia', align: 'right' },
                    { name: 'Freight', index: 'Freight', align: 'right', formatter: 'currency', formatoptions: { decimalPlaces: 2, prefix: "$"} },
                    { name: 'ShipName', index: 'ShipName', align: 'left' },
                    { name: 'ShipAddress', index: 'ShipAddress', align: 'left' },
                    { name: 'ShipCity', index: 'ShipCity', align: 'left' },
                    { name: 'ShipRegion', index: 'ShipRegion', align: 'left' },
                    { name: 'ShipPostalCode', index: 'ShipPostalCode', align: 'left' },
                    { name: 'ShipCountry', index: 'ShipCountry', align: 'left' },
                ],
                pager: pager_id,
                rowNum: 10,
                rowList: [5, 10, 20, 50],
                sortname: 'OrderID',
                sortorder: "asc",
                viewrecords: true,
                height: '100%',
                width: '1130'
            });
        }
    </script> 
}

<h2>@ViewBag.Title</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
